---
---

@import "{{ site.theme }}";

@media only print {
  .project-tagline, .site-footer {
    display: none;
  }
  #current-projects, #past-jobs, #finished-projects + ul > li:nth-child(7) {
    page-break-before: always;
  }
  .project-name {
    color: #159957;
  }
}
