---
---

@import "{{ site.theme }}";

//@media only print {
  .project-tagline {
    display: none;
  }
  #current-projects {
    page-break-before: left;
  }
  #finished-projects + ul > li {
    &:nth-child(6) {
      page-break-before: always;
    }
  }
  .project-name {
    color: #159957;
  }

//}
