---
---

@import "{{ site.theme }}";

//@media only print {
  .project-tagline {
    display: none;
  }
  #finished-projects + ul li {
    page-break-before: left;
  }
  .project-name {
    color: #159957;
  }

//}
